<h1>HISTORY</h1>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Electricity Dept.</h5>
        <small>1 hour ago</small>
      </div>
      <small>Short circuit at house</small>
      <small>Power off for 2 days</small>
      <small>Meter broken</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Water Dept.</h5>
        <small class="text-muted">1 hour ago</small>
      </div>
      <small>No water in line</small>
      <small>water cut off for 2 days</small>
      <small>Pipe broken</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Gas Dept.</h5>
        <small class="text-muted">1 hour ago</small>
      </div>
      <small>Meter issue at house.</small>
      <small>Power off for 2 days</small>
      <small>Meter broken</small>
    </a>
  </div>
